<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<html lang="en">
<head>
	<title>Sendat Index</title>
	<script src="/public/css/webcomponents-lite.js"></script>
	<link rel="import" href="/public/partials/header.html" >
	<script src="/public/ASCIIMathML.js"></script>
	<script src="/public/controllers/indexController.js"></script>
	<script src="/public/js/index.js"></script>
</head>

	<body ng-app = "app" id="controller" ng-controller="MainController" ng-cloak>

	<div id="container">
		<ul id="slide-out" class="side-nav fixed">

		<div id="totalsearch">
			<div id="head-div" class="inline">
				<angucomplete-alt
				  id="searchbar"
	              pause="400"
	              placeholder= "Search here"
	              selected-object="selectedObject"
	              remote-url="/api/notes/find/search?q="
	              remote-url-data-field="results"
	              title-field="title"
	              description-field="description"
	              minlength = "2"
	              background = "#FDD835"
	              input-class="form-control form-control-small"/>
			</div>
			<div id="searchicon" class="inline">
				 <!-- <img src="https://maxcdn.icons8.com/iOS7/PNG/32/Very_Basic/search_filled-32.png" title="Search Filled" width="32"> -->
				 <img id="search_img" src="/public/images/search5.svg" width="32px">
			</div>
		</div>

		<div ng-cloak>
		<li id="private_heading">
			<div class="userView">
		    	<a class="active" href="/">PRIVATE</a>
		    	<p id="priv_message"> You don't have any private notes! </p>
		   </div>
		</li>

		<ul>
		    <div ng-repeat="item in privatenotesList">
				<li><a class="waves effect font" href="/courses/{{item.coursecode}}/{{item._id}}"><i class="material-icons">assignment</i>{{item.title}}</a></li>
				<li><div class="divider"></div></li>
			</div>
	    </ul>

	    <li id="public_heading">
			<div class="userView">
		    	<a class="active" href="/">PUBLIC</a>
		    	<p id="priv_message2"> You don't have any public notes! </p>
		   </div>
		</li>

		<ul>
		    <div ng-repeat="item in publicnotesList">
				<li><a class="waves effect font" href="/courses/{{item.coursecode}}/{{item._id}}"><i class="material-icons">assignment</i>{{item.title}}</a></li>
				<li><div class="divider"></div></li>
			</div>
	    </ul>
	    </div>


	 	</ul>

	 	<div id="container2">
			<div id="title_bar" class="parent">

				<div class="child">
					<h3 class="inline" id="title_label"></h3>
					<input class="inline" type="text"  id="titlebox" ng-model="title" placeholder="Title">
				</div>

				<div class="child">
					<h3 class="inline" id="coursecode_label"></h3>
					<input class="inline" type="text"  id="coursebox" ng-model="coursecode" ng-disabled="!privacyToggle" placeholder="Course Code">
				</div>

				<div class="child" id="inset" ng-cloak>
					<md-switch ng-model="privacyToggle" ng-change="privacyAction(privacyToggle)" aria-label="Switch" class="md-warn">
						{{ privacy }}
					</md-switch>
				</div>

			</div>
			<div id="kant">
				<div id="name-div" class="inline">
					<a id="name" href="/"></a>
				</div>

				<div id="pubbutdiv" class="inline">
			   		 <md-button  id="publishbutton" class="md-raised md-primary black" ng-click="proceed()">Publish</md-button>
			   		 <p id="error_message">Please complete all the fields to publish the Note.</p>
				</div>

			</div>
		</div>


		<!-- Create the editor container -->
		<div id="centerdiv">
			<div id="editor" class="container">
			</div>
		</div>

	</div>

		<script type="text/javascript">
			hljs.configure({   // optionally configure hljs
			  languages: ['javascript', 'ruby', 'python']
			});
			var quill = new Quill('#editor', {
			 	modules: {
					syntax: true,              // Include syntax module
					formula: true,
					toolbar: ['bold', 'italic', 'underline', 'link', 'formula', 'image',{ 'header': [1, 2, 3, 4, 5, 6, false] },
					'blockquote','code-block',{ 'color': [] }, { 'background': [] }, { 'font': [] },{ 'align': [] },'clean',{ 'list': 'ordered'}, { 'list': 'bullet' }]
				},
			  theme: 'bubble',
			  placeholder : "Write Here"
			});
		</script>
	</body>
</html>
