<html>
  <head>
    <title>Node.js OAuth</title>
  </head>
  <body>
	  <script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '194473814346087',
	      xfbml      : true,
	      version    : 'v2.8'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

    <a href="http://localhost:3000/login/facebook">Sign in with Facebook</a>

    <div
		  class="fb-like"
		  data-share="true"
		  data-width="450"
		  data-show-faces="true">
	</div>
    <br></br>
  </body>
</html>