<html>
  <head>
    <title>Login</title>
     <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Ubuntu:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/login_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
      window.fbAsyncInit = function() {
          FB.init({
         		appId      : '194473814346087',
         		xfbml      : true,
         		version    : 'v2.8'
         	});
      };
      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body>
	<div id="container" ng-cloak>
		<div id="heading">
			<h1 id="heading_text">Sendat, </h1>
		</div>
		<div id="para">
			<p id="line1"> Your soon to be partner. You're gonna spend most of your time on this from now on.</p>
			<p id="line2"> Everybody will take notes on this. We will form a community and help each other and strive forward in our learning.</p>
			<br>
			<br>
			<a id="signup" href="http://ec2-52-201-184-155.compute-1.amazonaws.com:3000/auth/facebook" >Sign in with Facebook</a>
		</div>
	</div>

	<!-- <div id="login_modal">
	    <h1 id="login">Login</h1>
		<a id="signup" href="http://ec2-52-201-184-155.compute-1.amazonaws.com:3000/auth/facebook" >Sign in with Facebook</a>
	</div> -->
    <br></br>
  </body>
</html>

<!-- <script type="text/javascript">
	$('document').ready(function(){
		$('#sign_up').hover(
			function(){
				$(this).css({
					"border-bottom" : "1 px solid"
				});
			}
		);
	});

</script> -->
