<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app = "app">
<head>
	<title>Sendat Main</title>
	<link rel="import" href="/public/partials/header.html" >
	<script src="/public/controllers/mainController.js"></script>
	<script src="/public/js/main.js"></script>
</head>
	<body ng-app = "app" ng-controller="MainController" ng-init="gettingClient()" ng-cloak>

		<ul id="slide-out" class="side-nav fixed ">

			<div id="totalsearch">
				<div id="head-div" class="inline">
					<angucomplete-alt
					  id="searchbar"
		              pause="400"
		              placeholder= "Search here"
		              selected-object="selectedObject"
		              remote-url="/api/notes/find/search?q="
		              remote-url-data-field="results"
		              title-field="title"
		              description-field="description"
		              minlength = "2"
		              background = "#FDD835"
		              input-class="form-control form-control-small"/>
				</div>
				<div id="searchicon" class="inline">
					 <!-- <img src="https://maxcdn.icons8.com/iOS7/PNG/32/Very_Basic/search_filled-32.png" title="Search Filled" width="32"> -->
					 <img id="search_img" src="/public/images/search5.svg" width="32px">
				</div>
			</div>

		    <li><div class="userView">
		      <a id="private_a" class="active" href="/courses/{{coursecode}}">{{coursecode_display}}</a>
		    </div></li>

		    <ul>
			    <div id="private_list" ng-repeat="item in privatenotesList">
					<li><a  id="a_notes" href="" ng-click="setNew(item._id)" class="waves effect font"><i class="material-icons">assignment</i>{{item.title | limitTo:17}}</a></li>

					<li><div class="divider"></div></li>
				</div>
		    </ul>

		    <li>
				<div id="public_heading" class="userView">
			    	<a class="active" href="/">PUBLIC</a>
			   </div>
			</li>

			<ul>
			    <div id="public_list" ng-repeat="item in publicnotesList">
					<li><a class="waves effect font" href="/courses/{{item.coursecode}}/{{item._id}}"><i class="material-icons">assignment</i>{{item.title}}</a>
					</li>
					<li><div class="divider"></div></li>
				</div>
	    	</ul>

	 	</ul>

		<div id="container">
			<div id="title_bar" class="parent">

				<div class="child">
					<h3 class="inline" id="title_label"></h3>
					<input class="inline" type="text"  id="titlebox" ng-model="title" placeholder="Title" ng-readonly="titlereadonly">
				</div>

				<div class="child">
					<h3 class="inline" id="coursecode_label"></h3>
					<input class="inline" type="text"  id="coursebox" ng-model="coursecode" placeholder="Course Code" ng-readonly="coursecodereadonly">
				</div>

				<div class="child" id="inset" ng-cloak>
					<md-switch ng-model="privacyToggle" ng-change="privacyAction(privacyToggle)" aria-label="Switch" ng-disabled="switchdisabled" class="md-warn">
						{{privacy}}
					</md-switch>
				</div>
			</div>

			<div id="kant">
				<div id="name-div" class="inline">
					<a id="name" href="/"></a>
				</div>

				<div id="pubbutdiv" class="inline">
			   		 <md-button  id="publishbutton" class="md-raised md-primary black" ng-click="togglefunction()" ng-hide='!myNote'>{{buttontitle}}</md-button>
			   		 <i id="delete_icon" class="material-icons" ng-click="deletenote()" ng-hide='!myNote'>delete_forever</i>
						 <p id="error_message">Please complete all the fields to publish the Note.</p>
				</div>

			</div>

		</div>

		<!-- Create the editor container -->
		<div id="centerdiv">
			<div id="editor" class="container"> </div>
		</div>

		<script type="text/javascript">
			var quill = new Quill('#editor', {
				modules: {
					syntax: true,              // Include syntax module
					formula: true,
					toolbar: ['bold', 'italic', 'underline', 'link', 'formula', 'image',{ 'header': [1, 2, 3, 4, 5, 6, false] },
					'blockquote','code-block',{ 'color': [] }, { 'background': [] }, { 'font': [] },{ 'align': [] },'clean',{ 'list': 'ordered'}, { 'list': 'bullet' }]
				},
				theme: 'bubble',
				placeholder : "Write Here"
			});
		</script>


	</body>
</html>
