<html ng-app = "app">
<head>
	<title>Sendat Main</title>
	<link rel="import" href="/partials/header.html" >
	<script src="/controllers/mainController.js"></script>
</head>
	<body ng-app = "app" ng-controller="MainController" ng-init="gettingClient()" ng-cloak>

		<ul id="slide-out" class="side-nav fixed yellow darken-2">

			<div id="head-div">
				<angucomplete-alt
				  id="searchbar"
	              pause="400"
	              placeholder= "Search here"
	              selected-object="selectedObject"
	              remote-url="http://localhost:3000/contents/find/search?q="
	              remote-url-data-field="results"
	              title-field="title"
	              description-field=""
	              minlength = "2"
	              input-class="form-control form-control-small"/>
			</div>

		    <li><div class="userView">
		      <a class="active" href="http://localhost:3000/courses/{{coursecode}}">{{coursecode}}</a>
		    </div></li>

		    <ul>
			    <div ng-repeat="item in notesList">
					<li><a  id="a_notes" href="" ng-click="setNew(item._id)" class="waves effect font"><i class="material-icons">assignment</i>{{item.title}}</a></li>

					<li><div class="divider"></div></li>
				</div>
		    </ul>
	 	</ul>

		<div id="container">
			<div id="title_bar" class="parent">

				<div class="child">
					<h3 class="inline" id="title_label"></h3>
					<input class="inline" type="text"  id="titlebox" ng-model="title" placeholder="Title" readonly>
				</div>

				<div class="child">
					<h3 class="inline" id="coursecode_label"></h3>
					<input class="inline" type="text"  id="coursebox" ng-model="coursecode" placeholder="Course Code" readonly>
				</div>
			</div>

			<div id="pubbutdiv">
		   		 <md-button  id="publishbutton" class="md-raised md-primary" ng-click="edit()">Edit</md-button>
			</div>
		</div>

		<!-- Create the editor container -->
		<div id="centerdiv">
			<div id="editor" class="container"> </div>
		</div>


		<!-- Initialize Quill editor -->
		<script  type="text/javascript">
		 var quill = new Quill('#editor', {
			 	modules: {
     			syntax: true,              // Include syntax module
     			toolbar: ['bold', 'italic', 'underline', 'link', { 'header': '3' }, { 'header': '2' }, { 'header': '1' }, 'code-block']
  			},
			  theme: 'bubble',
			  placeholder : "Write Here",
			  readOnly : true
			});
		</script>

		<script type="text/javascript">

		$('document').ready(function() {
			$("#titlebox").keyup(function() {
			    if(this.value) {
				      $(this).css({
				        "border-left" : "1px #DADADA solid"
				      });
				      $("#title_label").html("Title");
			    } else if (! this.value){
				      $(this).css({
				        "border-left" : "none"
				      });
				      $("#title_label").html("");
			    }
			  });

			$("#coursebox").keyup(function() {
			    if(this.value) {
			      $(this).css({
			        "border-left" : "1px #DADADA solid"
			      });
			      $("#coursecode_label").html("Course");
			    } else if (! this.value){
			      $(this).css({
			        "border-left" : "none"
			      });
			      $("#coursecode_label").html("");
			    }
			  });

		});
		</script>

	</body>
</html>
