<html ng-app = "app">
	<head>
		<title>Sendat Note</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">

		  <!-- Compiled and minified CSS -->
	 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

		  <!-- Compiled and minified JavaScript -->
	 	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	 	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

	 	 <link href="/css/quill.bubble.css" rel="stylesheet">

	 	 <link rel="stylesheet" type="text/css" href="/css/style.css">

	 	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

		 <!-- Angular Material Dependencies -->
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	   <!-- Quill libraries -->
		 <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js" type="text/javascript"></script>
		 <script src="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js" type="text/javascript"></script>
		<script src="/css/quill.min.js" type="text/javascript"></script>
		<script src="/css/syntax.js" type="text/javascript"></script>

		<!-- Theme included stylesheets -->


		<script src="/controllers/noteController.js"></script>

		<link rel="stylesheet" href="/angucomplete-alt.css" />
 		<script src="/angucomplete-alt.js"></script>

		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/monokai-sublime.min.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
		
	</head>
	<body ng-controller="MainController" ng-init="gettingClient()" ng-cloak>

		

		<ul id="slide-out" class="side-nav fixed yellow darken-2">

			<div id="head-div">
				<angucomplete-alt
				  id="searchbar"
	              pause="400"
	              placeholder= "Search here"
	              selected-object="selectedObject"		
	              remote-url="http://localhost:3000/contents/find/search?q="
	              remote-url-data-field="results"
	              title-field="title"
	              description-field=""
	              minlength = "2"
	              input-class="form-control form-control-small"/>
			</div> 

		    <li><div class="userView">
		      <a class="active" href="http://localhost:3000/courses/{{coursecode}}">{{coursecode_display}}</a>
		    </div></li>

		    <ul>
			    <div ng-repeat="item in notesList">
					<li><a class="waves effect font" href="http://localhost:3000/courses/{{item.coursecode}}/{{item._id}}"><i class="material-icons">assignment</i>{{item.title}}</a></li>
					<li><div class="divider"></div></li>
				</div>
		    </ul>
	 	</ul>

	   <a href="#" id="menubutton" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

	 	<div id="container">
			<div id="title_bar" class="parent">

				<div class="child">
					<h3 class="inline" id="title_label"></h3>
					<input class="inline" type="text"  id="titlebox" ng-model="title" placeholder="Title">
				</div>

				<div class="child">
					<h3 class="inline" id="coursecode_label"></h3>
					<input class="inline" type="text"  id="coursebox" ng-model="coursecode" placeholder="Course Code">
				</div>
			</div>

			<div id="pubbutdiv">
		   		 <md-button  id="publishbutton" class="md-raised md-primary" ng-click="proceed()">Publish</md-button>
			</div>
		</div>
		
		<!-- Create the editor container -->
		<div id="centerdiv">
			<div id="editor" class="container"> </div>
		</div>
		

		<!-- Initialize Quill editor -->
		<script>
		 var quill = new Quill('#editor', {
			 	modules: {
     			syntax: true,              // Include syntax module
     			toolbar: ['bold', 'italic', 'underline', 'link', 'image', { 'header': '3' }, { 'header': '2' }, { 'header': '1' }, 'code-block']
  			},
			  theme: 'bubble',
			  placeholder : "Write Here"
			});
		</script>

		<script type="text/javascript">

		$('document').ready(function() {
			$("#titlebox").keyup(function() {
			    if(this.value) {
				      $(this).css({
				        "border-left" : "1px #DADADA solid"
				      });
				      $("#title_label").html("Title");
			    } else if (! this.value){
				      $(this).css({
				        "border-left" : "none"
				      });
				      $("#title_label").html("");
			    }
			  });

			$("#coursebox").keyup(function() {
			    if(this.value) {
			      $(this).css({
			        "border-left" : "1px #DADADA solid"
			      });
			      $("#coursecode_label").html("Course");
			    } else if (! this.value){
			      $(this).css({
			        "border-left" : "none"
			      });
			      $("#coursecode_label").html("");
			    }
			  });

		});
		</script>

	</body>
</html>

<script type="text/javascript">
  $(".button-collapse").sideNav();
	var mq = window.matchMedia( "(min-width: 500px)" );
	if (mq.matches) {

	} else {
  		// window width is less than 500px
  		document.getElementById("slide-out").className = "side-nav yellow darken-2"
	}
</script>
