html { 
 /* background: url(/images/mountains.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;*/
}

#container{
	margin-top: 200px;
	margin-left: 100px;
}

#heading{
	/*margin-top: 100px;*/
	align-self: center;
}

#para {
	margin-top: 50px;
}

#line1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 33px;

}

#line2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 33px;
}
#heading_text{
	font-family: 'Montserrat', sans-serif;
	font-size: 78px;
}

#login_modal{
	width: 30%;
	margin-left: 40%;
	margin-top: 20%;
	border : 5px black solid ;
	border-radius: 20px;
	height: 200px;
	opacity: 1;
}

#login{
	font-size: 40px;
	color: black;
	margin-left: 30px;
	font-family: 'Oswald' ,sans-serif;
}

#signup {
	font-family: 'Ubuntu', sans-serif;
	font-size: 33px;
	text-decoration: none;
	color: black;
}

#signup:hover {
	font-family: 'Ubuntu', sans-serif;
	font-size: 33px;
	font-weight : bold;
	color: #3B5998;
}
