html{
	min-width: 1700px;
	max-width: 1700px;
	margin: 0 auto;
    padding: 0;
}

body{
	height: 100%;
	width: 100%;
}

*:focus {outline: 0;}


#error_message{
	display: none;
	color: red;
	font-size: 15px;
	margin-top: 50px;
}

#priv_message , #priv_message2{
	font-size: 18px;
	font-family:'Ubuntu', sans-serif;
	color: black;
	display: none;
}

#private_heading , #public_heading{
	display: none;
}

#container {
  border: 0px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

/**/

#centerdiv{
  margin-top: 30px;
  margin-right: 25%;
  margin-left: 25%;
}

.inline{
	display: inline-block;
}

#totalsearch{
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 49px;
	padding-right: 0px;
	margin-bottom: 20px;
	border: 3px black solid;
	height: 46px;
}

#head-div {
	width: 79%;
	height: 44px;
	top: auto;
	margin-top: -30px;
	padding-left: 5px;
	padding-right: 20px;
	box-sizing: border-box;
}

#searchbar ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  black;
    opacity:  0.4;
}
#searchbar :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  0.4;
}
#searchbar::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  0.4;
}
#searchbar :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
   opacity:  0.4;
}

#searchbar {
	color: black;
}

#searchbar_dropdown {
	height: 400px;
	width: 145%;
	margin-left: -5px;
	overflow-y: auto;
	border:0px black solid;
	background: white;
	color: black;
}

#searchbar_value {
	width: 100%;
	height: 100%;
	top: 0px;
	padding-left: 5px;
	margin-bottom: 0px !important;
	border-bottom: 0px !important;
	font-family: 'Dosis' ,sans-serif ;
	font-size: 26px;
	box-sizing: border-box;
	align-self: center;
	box-shadow: none !important;
	color: black;
}

#search_img{
	padding-top: 4px;
}

#searchicon{
	/*padding-top: 10px;*/
	padding-left: 5px;
	height: 40px;
	width: 40px;
	background-color: #fff;
}

input:not([type]), input[type=text]:focus, input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

#title_bar{
	width: 50%;
	margin-bottom: 25px;
	margin-left: 20%;
	height: auto;
}

#publishbutton{
	position: absolute;
}

#kant{
	padding: 5px;
	margin-top: -170px;
	width: 400px;
	float: right;
	margin-right: 100px;
}

#pubbutdiv {
	float: left;
	width : 160px;
	height: 50px;
}

#delete_icon{
	float: right;
	font-size: 40px !important;
	margin-top: 6px;
	cursor: pointer; cursor: hand;
}


#title_label{
  font-size :  28px;
  color : #8F8F8F;
  width : 60px;
  margin-left: 20px;
  margin-bottom: 0px;
  font-family: 'Ubuntu' ,sans-serif ;
}

#inset{
	padding-left: 100px;
	font-size :  18px;
	font-family :'Ubuntu', sans-serif;
	 color : #8F8F8F;

}

#coursecode_label{
  font-size :  15px;
  color : #8F8F8F;
  width : 60px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family :'Ubuntu', sans-serif;
}

#titlebox {
	border: 0px solid;
	font-size: 30px;
	height: 35px;
	max-width: 500px;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px; 
	padding-left : 10px;
	word-wrap: break-word;
	color: black !important;
	background-color: transparent;
	font-family: 'Ubuntu' ,sans-serif ;
}

#coursebox {
	width: 200px;
	border: 0px solid;
	font-size: 20px;
	padding-top: 10px;
	padding-left : 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	height: 30px;
	color: #79828B;
	background-color: transparent;
	font-family :'Ubuntu', sans-serif;
}

#titlediv_note{
	width: 100px;
	float: top;
	margin-bottom: 30px;
	font-family: 'Oswald' ,sans-serif ;
	margin-left: 30px;
}

#coursetitle{
	width: 100px;
	font-size: 20px;
	font-family: 'Oswald' ,sans-serif ;
	float: center;
	background-color: transparent;
	border: 0px solid;
	color: #f4f400;
}

#inputdiv{
	padding-left:0;
    padding-top:0;
    width: 90%;
    height: 550px;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    font-family: 'Oswald' ,sans-serif ;
    margin-left: 50px;
    font-size: 20px;
}

#slide-out{
	z-index: 0;
}

#inputdiv_note{
	padding-left:0;
    padding-top:0;
    width: 800px;
    height: 600px;
	font-size: 20px;
	font-family: 'Oswald' ,sans-serif ;
	margin-right: 20px;
	padding: 3px;
	margin-top: 120px;
	margin-right: 70px;
	float: right;
}

.wideInput {
	font-size: 20px;
	text-align: left;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    width: 100%;
    height: 100%;
    border: 0px solid;
    margin-left: 30px;
    font-family: 'Oxygen' ,sans-serif ;
}

#menubutton{
	margin-left: 20px;
	margin-top: 40px;
	display: none;
}

#gobutton{
	font-size: 15px;
	font-family: 'Oswald' ,sans-serif ;
}

#normalSendatbutton {
	font-size: 15px;
	font-family: 'Oswald' ,sans-serif ;
	margin-top: 20px;
	width: 200px;
	margin-left: 0px;
	margin-bottom: 20px;

}

#my_popup{
	padding: 15px;
	padding-left: 20px;
	padding-bottom: 20px;
	border: 2px solid white;
	border-radius: 25px;

}

#my_popup_text{
	font-size: 25px;
	font-family: 'Oswald' ,sans-serif ;
	color: white;
}

.side-nav a {
	font-size: 20px;
	font-family: 'Oswald' ,sans-serif ;
	color: white;
}

#name{
	font-size: 20px;
	padding: 10px;
    font-family: 'Oxygen' ,sans-serif ;
    color: black;
}

#name-div{
	float: right;
	padding: 10px;
	margin-right: 20px;

}

@media screen and (min-width: 980px) {
	#titlediv_note {
		margin-left: 330px;
	}
	#inputdiv_note{
		margin-left: 330px;
	}
}

@media screen  and (max-width: 979px) {
   #menubutton { display:inline-block; }
}

@media screen and (max-width: 500px) /* Mobile */ {
   #menubutton { display:inline-block; }
}
